<a href="https://colab.research.google.com/github/SebastianGeorge75/Introduction-to-Python/blob/main/01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("ENTER THE NUMBER"))
if (x%2)==0:
    print("NUMBER IS EVEN")
else:
  print("number is odd")

ENTER THE NUMBER5
number is odd

In [2]:
for k in range (10):
 if (k%2)==0:
   print (k)

0
2
4
6
8

In [3]:
s=0
for k in range (11):
  s=k+s
print(s)

55

In [4]:
s=1
for k in range (1,101):
    s=k*s
print(s)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [5]:
for k in range (1,101):
    if k==5:
      break;
    print(k)

1
2
3
4

In [6]:
s=0
for k in range(100):
  n=int(input("enter a number:"))
  s=n+s
  y=int(input("is the number is final"))
  if y==0:
    break;
print(s)

enter a number:6
is the number is final1
enter a number:8
is the number is final0
14

In [7]:
k=0
while(k<100):
  print(k)
  k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [8]:
s=0
k=0
while(k<101):
  s=k+s
  k=k+1
print(s)

5050

In [9]:
s=0
k=0
while(k<101):
  k=k+1
  if (k%2)==0:
    s=k+s
print(s)

2550

In [10]:
for k in range (100):
  if x==5:
    continue;
  print(x)

In [11]:
x=[1,2,3,23,"india",45.3]
print(x[-3:])

[23, 'india', 45.3]

In [12]:
x=[1,2,3,23,"india",45.3]
x.append("sebastian george")
print(x)

[1, 2, 3, 23, 'india', 45.3, 'sebastian george']

In [13]:
x=[1,2,3,23,"india",45.3]
x.insert(1,"Geossim")
print(x)

[1, 'Geossim', 2, 3, 23, 'india', 45.3]

In [14]:
x=[1,2,3,23,"india",45.3]
x[2]="mAYYAN"
print(x)

[1, 2, 'mAYYAN', 23, 'india', 45.3]

In [15]:
[1, 2, 'mAYYAN', 23, 'india', 45.3]
b=x[-1]
x[-1]=x[0]
x[0]=b
print(x)

[45.3, 2, 'mAYYAN', 23, 'india', 1]